
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

/*!---------RESET------*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Vollkorn', serif;
    background-color: white;
}


/*!---------HEADER------------*/
header{
    position: sticky;
    top: 0%;
    background-color: rgb(212, 190, 162);
    padding: 10px 0px 5px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

header h1{
    font-family: 'Vollkorn', serif;
    font-size: 50px;
   color: black;
   display: flex;
   justify-content: end;
   margin-left: 10px;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    color: rgba(167, 72, 72, 0.925);
    font-size: 25px;
    font-family: 'Vollkorn', serif;
    font-weight: 50px;
    text-decoration: none; 
    padding: 10px;  
}

header nav ul li{
    list-style: none;
    font-family: 'Vollkorn', serif;
    justify-content: end;
    margin: 5px 30px 10px 20px;
    display: flex
}

/*!---------MAIN INDEX------------*/
.presentacion h3{
    color: white;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    font-weight: 100;
    text-align: center;
    background-color: rgb(179, 138, 115);
    width: 100vw;
}

.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion img{
    width: 20%;
}

.hero h2{
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}

.hero div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero div h3 a:hover{
     background-color: black;
     color: rgb(167, 72, 72, 0.925);
}

.compra-por-mayor div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compra-por-mayor div h3 a:hover{
    background-color: black;
    color: rgb(167, 72, 72, 0.925);
}

.venta-de-vinilos div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.venta-de-vinilos div h3 a:hover{
    background-color: black;
    color: rgb(167, 72, 72, 0.925);
}

.cafeteria div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cafeteria div h3 a:hover{
    background-color: black;
    color: rgb(167, 72, 72, 0.925);
}

.hero img{
    width: 500px;
    height: 750px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.compra-por-mayor img{
    width: 500px;
    height: 750px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.venta-de-vinilos img{
    width: 500px;
    height: 750px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.cafeteria img{
    width: 500px;
    height: 750px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.hero h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.compra-por-mayor h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.venta-de-vinilos h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.cafeteria h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.hero a{
    color: white;
    background-color: rgb(167, 72, 72, 0.925);
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    padding: 10px 5px 10px 5px
}

.compra-por-mayor a{
    color: white;
    background-color: rgb(167, 72, 72, 0.925);
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    padding: 10px 5px 10px 5px
}

.venta-de-vinilos a{
    color: white;
    background-color: rgb(167, 72, 72, 0.925);
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    padding: 10px 5px 10px 5px
}

.cafeteria a{
    color: white;
    background-color: rgb(167, 72, 72, 0.925);
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    padding: 10px 5px 10px 5px
}


.sugerencias h2{
    font-size: 15px;
    color: white;
    background-color: hsl(33, 34%, 52%);
    padding: 10px;
    text-align: center
}

.mas-leidos h2{
    font-size: 15px;
    color:white;
    background-color: hsl(33, 34%, 52%);
    padding: 10px;
    text-align: center
}

.en-oferta h2{
    font-size: 15px;
    color: white;
    background-color: rgb(174, 137, 91);
    padding: 10px;
    text-align: center
}

.vinilos h2{
    font-size: 15px;
    color: white;
    background-color: rgb(174, 137, 91);
    padding: 10px;
    text-align: center
}

.sugerencias div img{
    width: 100%;
    height: 400px;
}

.mas-leidos div img{
    width: 100%;
    height: 400px;
}

.en-oferta div img{
    width: 100%;
    height: 400px;
}

.vinilos div img{
    width: 100%;
    height: 300px;
}

.card{
    flex-direction: column;
    margin: 20px;
    text-align: center;
    border: 2px solid black
}

.sugerencias-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mas-leidos-div{ 
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.en-oferta-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vinilos-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.sugerencias div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    margin-top: 0px; margin-bottom: 15px;
    font-family: 'Vollkorn', serif;
}

.sugerencias div a:hover{
    background-color: rgb(167, 72, 72, 0.925);
}

.mas-leidos div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    margin-top: 0px; margin-bottom: 15px;
    font-family: 'Vollkorn', serif;
}

.mas-leidos div a:hover{
    background-color: rgb(167, 72, 72, 0.925);
}

.en-oferta div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    margin-top: 0px; margin-bottom: 15px;
    font-family: 'Vollkorn', serif;
}

.en-oferta div a:hover{
    background-color: rgb(167, 72, 72, 0.925);
}

.vinilos div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    margin-top: 0px; margin-bottom: 15px;
    font-family: 'Vollkorn', serif;
}

.vinilos div a:hover{
    background-color: rgb(167, 72, 72, 0.925);
}

.sugerencias div h3{
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
}

.mas-leidos div h3{
    margin: 5px 0px 5px 0px;
    font-size: 25px;
    text-align: center;
}

.en-oferta div h3{
    margin: 5px 0px 5px 0px;
    font-size: 25px;
    text-align: center;
}

.vinilos div h3{
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
}

/*!---------MAIN ESCRIBINOS------------*/

.titulo p{
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}

.titulo div h2{
    color: black;
    display: flex;
    justify-content: left;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 50px;
}

.titulo div h3{
    color: black;
    display: flex;
    justify-content: left;
    padding-top: 2px;
    padding-left: 100px;
    font-size: 20px;
}

.formulario div{
    display: flex;
    justify-content: left;
    align-items: normal;
    padding-left: 500px;
    padding-bottom: 20px;
}

.disponibilidad p{
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}

.disponibilidad div h2{
    color: black;
    display: flex;
    justify-content: left;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 50px;
}

.disponibilidad div h3{
    color: black;
    display: flex;
    justify-content: left;
    padding-top: 2px;
    padding-left: 100px;
    font-size: 20px;
}

.disponibilidad form div{
    display: flex;
    justify-content: left;
    align-items: normal;
    padding-left: 500px;
    padding-bottom: 20px;
}

section form div input{
   margin-left: 10px;
}

/*---------------MAIN GIFT CARDS---------------*/

.gift-cards h2{
    font-size: 25px;
    color: white;
    padding: 20px;
    background-color: rgb(174, 137, 91);
    text-align: center;
    margin-top: 10px;
}

.gift-cards h3{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.gift-cards p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
}

.gift-cards img{
    width: 550px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
} 

.gift-cards div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*--------------MAIN NOSOTROS------------*/

.container-fluid div p{
    font-size: 30px;
}
.nosotros section h2{
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}


/*--------------MAIN NOVEDADES-----------*/

.evento-musical h2{
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}

.evento-musical h3{
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
}

.grid-ts img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.grid-ts{
    display: grid;
    width: 80%;
    margin: 20px;
    grid-template-columns: 500px 500px 500px;
    grid-auto-rows: 300px 300px 300px;
    gap: 20px;
}

.evento-musical p{
    font-size: 25px;
    padding: 0px 15px 20px 15px;
    width: 95%;
    display: flex; 
    justify-content: center;
}

.evento-literario h2{
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: rgb(174, 137, 91);
    text-align: center
}

.evento-literario h3{
    font-size: 35px;
    text-align: center;
}

.evento-literario img{
    width: 700px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.evento-literario p{
    font-size: 25px;
    padding: 0px 15px 20px 15px;
}


/*!---------FOOTER INDEX------------*/

.redes-sociales a img{
    width: 50px;
    height: 50px;
    padding: 45px;
}

.redes-sociales{
    background-color: rgb(174, 137, 91);
    display: flex;
    justify-content: center;
}

.newsletter{
    background-color: rgb(212, 190, 162) ;
    padding: 50px;
}

.newsletter p{
    color: black;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.newsletter input{
    color: black;
    font-family: 'Vollkorn', serif;
}

/*!---------MEDIA QUERY------------*/

@media screen and (max-width: 1500px){
    .nuestra-cafeteria-div p{
        font-size: 25px;
        padding-left: 10px;
    }
}

@media screen and (max-width:1200px){
    .quienes-somos-div p{
        font-size: 25px;
    }

    .quienes-somos-div img{
        width: 680px;
        height: 700px;
    }
}

@media screen and (max-width: 900px){
    .quienes-somos-div p{
        font-size: 15px;
        padding-left: 20px;
    }

    .quienes-somos-div img{
        width: 480px;
        height: 500px;
    }

    .nuestra-cafeteria-div img{
        width: 480px;
        height: 500px;
    }

    .nuestra-cafeteria-div p{
        font-size: 10px;
    }
}

@media screen and (max-width:850px){
    header{
        flex-direction: column;
    }

    header nav ul{
        flex-direction: column;
    }

    header nav ul li{
        margin: 0;
        text-align: center;
    }

}    

@media screen and (max-width:700px){
    .hero h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .hero img{
        width: 300px;
        height: 400px;
    }

    .compra-por-mayor h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .compra-por-mayor img{
        width: 300px;
        height: 400px;
    }

    .venta-de-vinilos h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .venta-de-vinilos img{
        width: 300px;
        height: 400px;
    }

    .cafeteria h3{
        font-size: 20px;
        margin-left: 10px;
    }

    .cafeteria img{
        width: 300px;
        height: 400px;
    }

    .sugerencias div div{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .mas-leidos div div{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .en-oferta div div{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .vinilos div div{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .quienes-somos-div p{
        font-size: 10px;
        padding-left: 10px;
    }

    .quienes-somos-div img{
        width: 280px;
        height: 300px;
    }

    .nuestra-cafeteria-div img{
        width: 280px;
        height: 300px;
    }
}

@media screen and (max-width: 550px){

    header h1{
        font-size: 30px;
    }

    footer .redes-sociales{
        flex-direction: column;
        align-items: center;
    }

    footer .newsletter p{
        font-size: 10px;
    }

    .sugerencias h2{
        font-size: 15px;
    }

    .sugerencias div img{
        width: 200px;
        height: 350px;
    }

    .mas-leidos h2{
        font-size: 15px;
    }

    .mas-leidos div img{
        width: 200px;
        height: 350px;
    }

    .en-oferta h2{
        font-size: 15px;
    }

    .en-oferta div img{
        width: 200px;
        height: 350px;
    }

    .vinilos h2{
        font-size: 15px;
    }

    .vinilos div img{
        width: 250px;
        height: 300px;
    }

    .quienes-somos-div p{
        font-size: 8px;
        padding-left: 5px;
    }

    .quienes-somos-div img{
        width: 130px;
        height: 150px;
    }

    .nosotros .quienes-somos h2{
        font-size: 15px;
    }

    .nuestra-cafeteria-div img{
        width: 180px;
        height: 200px;
    }

    .nuestra-cafeteria-div p{
        font-size: 7px;
        padding-left: 5px;
    }

    .nosotros .nuestra-cafeteria h2{
        font-size: 15px;
    }

    .gift-cards img{
        width: 300px;
        height: 100px;
    }

}

@media screen and (max-width: 400px){
    .hero div img{
        width: 200px;
        height: 300px;
    }

    .compra-por-mayor div img{
        width: 200px;
        height: 300px;
    }

    .venta-de-vinilos div img{
        width: 200px;
        height: 300px;
    }

    .cafeteria div img{
        width: 200px;
        height: 300px;
    }
}