.nosotros{
    .container-fluid{
        .row{
            .col-lg-12{
                h2{
                    font-size: 25px;
                    color: white;
                    padding: 10px;
                    background-color: rgb(174, 137, 91);
                    text-align: center
                }
            }
            .col-lg-9{
                p{
                    font-size: 30px; 
                }
            }
        }
    }
}

